node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage_cache
dist
.DS_Store
**/.DS_Store
apps/*/dist
apps/*/node_modules
packages/*/dist
packages/*/node_modules
.venv
**/__pycache__
*.pyc